@import url('style.css');

:root {
    --background-color: #000000;
    --primary-color: #cccccc;
    --link-color: #d3c1af;
    --header-background: #e66e6e;
    --header-color: #000000;
    --form-submit-bg: #5afdfd;
    --form-submit-hover-bg: #a3fdfd;
    --table-border: #41ffff;
    --table-head-bg: #20caca;
    --table-row-even: #3c210a;
    --table-row-hover: #261008;
    --footer-bg: #e66e6e;
    --footer-color: #000000;
    --migas-link-color: #5afdfd;
    --section-link-color: #34b8b8; 
    --form-label-color: #d3c1af;
    --h3-color: #34b8b8; 
    --paginas-link-color: #34b8b8; 
}

h3 {
    color: var(--h3-color);
}

#paginas a {
    color: var(--paginas-link-color);
}
