@import 'style.css';

@media print {
    :root {
        --background-color: none;
        --text-color: black;
        --link-color: black;
        --border-color: black;
        --font-family: "Times New Roman", Times, serif;
        --font-size: 12pt;
        --padding: 1cm;
    }

    * {
        background: var(--background-color) !important;
        color: var(--text-color) !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border-color: var(--border-color) !important;
    }

    body {
        font-family: var(--font-family);
        font-size: var(--font-size);
        color: var(--text-color);
        background: var(--background-color);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #content {
        width: 90%;
        max-width: 18cm;
        padding: var(--padding);
        margin: auto;
    }


    nav, footer, .saltar-a-contenido, form, button, input, textarea, select, header img, .decorative-image, video, video * {
        display: none !important;
    }
    
    
    .video-container, .related-content, .video-wrapper {
        display: none !important;
    }

    a {
        color: var(--link-color);
        text-decoration: underline;
    }

    a:after {
        content: " (" attr(href) ")";
        font-size: 10pt;
        color: var(--text-color);
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--text-color);
        page-break-after: avoid;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
        filter: grayscale(100%);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid var(--border-color);
        text-align: left;
    }

    caption {
        font-size: 12pt;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 10pt;
        color: var(--text-color);
    }

    @page {
        size: A4;
        margin: 2cm;
        orphans: 3;
        widows: 3;
    }
}
